@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.middle-text-size{
    font-size: 0.85em;
}

.center-align{
    text-align: center;
}

h2{
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    padding-bottom: 10px;
    border-bottom: solid 1px grey;
}

section{
    padding: 7vh 0;
}

section h3{
    color: #d30039;
}

.section-1{
    background-color: #f5f5f5;
}

.section-2{
    background-color: #004b9d;
}

.flex{
    padding: 0;
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}

.flex .description{
    background-color: #FFFFFF;
    padding: 2vh 1.5vw 2vh 1.5vw;
    width: 250px;
    margin: 3vh 1vw 3vh 1vw;
    text-align: justify; 199,0.2);
  }

 .section-2 .flex .description{
    box-shadow: 12px 12px 0 rgba(189, 195, 199,0.2);
}

.flex .description img{
    width: 100%;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #d30039;
    text-align: center;
/*     position: fixed; */
}

header nav > input, header .nav-button {
    display: none;
}

header > nav > ul > li {
    display: inline-block;
}

header > nav > ul > li a {
    display: inline-block;
    color: white;
    padding: 1vh 1vw 1vh 1vw;
    margin: 0 3vw 0 3vw;
    font-size: 120%;
    border-radius: 5px;
}

header > nav > ul > li a:hover {
    background-color: rgba(236, 240, 241,0.4);
}

/* top content  (search)*/
.event-slider {
    width: 100%;
}

#top-content {
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
}

#top-content:before {
    margin:0;
    padding:0;
    background: url(../resources/image/fond.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    z-index: -1;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
}

#top-content > .home-logo {
    display: block;
    margin: auto;
    width: 25vw;
}

#top-content > #search-form {
    background-color: rgba(189, 195, 199, 0.7);
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 4vh;
}

#top-content > #search-form fieldset {
    border: none;
}

#on-off-button {
    width: 5vw;
}

.onoffswitch {
    display: inline-block;
    position: relative;
    width: 110px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid rgba(189, 195, 199, 0.8);
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Acheter";
    padding-left: 10px;
    background-color: #d30039;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Louer";
    padding-right: 10px;
    background-color: #004b9d;
    color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: inline-block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 75px;
    border: 3px solid rgba(189, 195, 199, 0.8);
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#search-form .search-input {
    width: 50vw;
    font-size: 1.2em;
    padding: 1vh 1vw 1vh 1vw;
}

#search-form select {
    display: inline-block;
    position: relative;
    bottom: 2.2vh;
    border-radius: 20px;
    padding: 0.7vh 0.7vw 0.7vh 0.7vw;
    border: solid rgba(189, 195, 199, 0.8) 2px;
}

#search-form > #search-sliders .slider-input {
    background-color: transparent;
    border: none;
    width: 5vw;
}

#search-form > #search-sliders .slider-input:focus {
    outline: none;
}

#search-form > #search-sliders #rooms-slider {
    display: block;
    width: 5vw;
}

#search-form > button {
    border: none;
    position: absolute;
    margin: 24vh 0 0 65vw;
    padding: 1.5vh 1.5vw 1.5vh 1.5vw;
    background-color: #d30039;
    color: white;
}

/*end top content*/

footer a {
    color: grey;
    font-style: italic;
}
footer a:hover {
    color: white;
}
.social-network-ico {
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #2c3e50;
    color: white;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer > div {
    padding: 0.5em;
}

footer .social-network-buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 10%;
}

footer .social-network-buttons > div {
    display: flex;
    justify-content: space-around;
}

/* small screens styles */
@media (max-width: 800px) {
    header {
        border: solid red 1px;
        height: 10vh;
    }

    header > nav > ul > li > a {
        display: block;
        margin: 0;
        padding: 1vh 0 1vh 0;
        border-radius: 0;
    }

    header > nav > ul > li {
        display: block;
        background-color: #d30039;
        border-top: solid rgba(236, 240, 241, 0.4) 1px;
    }

    header .nav-inner {
        position: absolute;
        width: 100vw;
        transform: translateX(-110%) translateZ(0);
        transition: transform .2s;
        will-change: transform;
        padding: 0;
        margin-top: 10vh;
    }

    header input:checked ~ .nav-inner {
        transform: translateX(0);
    }

    header .nav-button {
        display: block;
        position: absolute;
        top: 1rem; right: 1rem;
        z-index: 1;
        height: 3.5rem; width: 3.5rem;
        background-color: transparent;
        background-image: linear-gradient(to right, rgba(236, 240, 241, 0.7), rgba(236, 240, 241, 0.7)),
            linear-gradient(to right, rgba(236, 240, 241, 0.5), rgba(236, 240, 241, 0.5)),
            linear-gradient(to right, rgba(236, 240, 241, 0.4), rgba(236, 240, 241, 0.4));
        background-position: center top, center, center bottom;
        background-repeat: no-repeat;
        background-size: 3.5rem .9rem;
        padding: 0;
        outline: 0;
        border: 0;
        cursor: pointer;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
}
